.sis {
    background-color: red;
}

.filosofia {
    background-color: gray;
}

.fis {
    background-color: forestgreen;
}

.analisis {
    background-color: yellow;
}

.opti {
    background-color: teal;
}

.informatica {
    background-color: rgb(170, 13, 170);
}

.break {
    background-color: rgb(151, 151, 151);
}

.ayudantia {
    background-color: rgb(130, 200, 200);
}