#work h2 {
    margin-bottom: 5px;
}

.mini_menu {
    margin: 0 auto 0 auto;
    display: block;
    width: 10%;
    margin-bottom: 20px;
}

.mini_item {
    border-bottom: 2px solid grey;
    padding: 3px;
    margin-right: 5px;
    margin-left: 5px;
}

.mini_item:hover{
    color: grey;
    cursor: pointer;
}

.underline{
    border-bottom: 2px solid black;
}

.github {
    color: rgb(134, 150, 144);
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}