ul {
    display: table;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

#one::marker{
    content:"\25A0";
    font-size: 1.5rem;
    color: gray;
    vertical-align: bottom;
}


#two::marker{
    content:"\25A0";
    font-size: 1.5rem;
    color: red;
    vertical-align: bottom;
}


#three::marker{
    content:"\25A0";
    font-size: 1.5rem;
    color: teal;
    vertical-align: bottom;
}


#four::marker{
    content:"\25A0";
    font-size: 1.5rem;
    color: yellow;
    vertical-align: bottom;
}


#five::marker{
    content:"\25A0";
    font-size: 1.5rem;
    color: rgb(170, 13, 170);
    vertical-align: bottom;
}

#ayudantia-marker::marker{
    content:"\25A0";
    font-size: 1.5rem;
    color: rgb(130, 200, 200);
    vertical-align: bottom;
}