html {
    background: cadetblue;
}

table {
    text-align: center;
    align-content: center;
    empty-cells: hide;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    table-layout: fixed;
    width: 825px;
    border-collapse: collapse;
}

th, td {
    border: 2px solid rgb(131, 76, 95);
}

a {
    display: table;
    color: whitesmoke;
    margin-right: auto;
    margin-left: auto;
}

a:link {
    text-decoration: none;
}