#pic { /* default size: 644 - 1091 px*/
    width: 200px;
	margin: -60px auto 0 auto;
}

#img-container {
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 50%;
}

#tallar {
    color: red;
}

#bio {
    color: rgb(134, 150, 144);
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 13px;
	line-height: 22px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	max-width: 30%;
}